/* --- put your css here --- */ 
body {
  background-color: lightblue;
}

#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

.classy {
  margin-left: 10px;
}

div {
  margin-bottom: 50px;
}

span {
  height: 50px;
  width: 100px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-color: blue;
  background-color: yellow;
}

span.b {
  display: block;
}

span.c {
  display: inline-block;
}
img[alt="cat icon"] {
  position: fixed;
  bottom: 0;
  right: 0;
}

img[alt="dog icon"] {
  position: relative;
  right: 50px;
  bottom: 150px;
}

#positionme {
  background-color: red;
}

img[alt="bird icon"]{
  top: 50px;
  left: 250px;
}

nav {
  list-style-type: none;
  overflow: hidden;
  display: inline;
  float: left;
  background: rgba(0, 255, 0, 0.9);
}

nav a {
  display: block;
  padding: 5px;
  font-size: 20px;
}

.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
table.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
