/* --- put your css here --- */ 
body {
  background-color: lightblue;
}

#igottabeme {
  font-family: Arial, Helvetica, sans-serif;
}

.classy {
  margin-left: 10px;
}

div {
  margin-bottom: 50px;
}

span {
  height: 50px;
  width: 100px;
  padding: 5px 20px 5px 20px;
  border-style: solid;
  border-color: blue;
  background-color: yellow;
}
span.b {
  display: block;
}

span.c {
  display: inline-block;
}
img."cat icon" {
  position: fixed;
  bottom: 0;
  right: 0;
}

img."dog icon" {
  position: relative;
  left: 5px;
  top: 150px;
}

/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
